:root {
  --zen-badge-offset: unset;
  --zen-badge-offset-x: unset;
  --zen-badge-offset-y: unset;
}

zen-badge,
[zenBadge] {
  display: inline-flex;
  position: relative;

  [topLeft],
  [top],
  [topRight],
  [right],
  [bottomRight],
  [bottom],
  [bottomLeft],
  [left] {
    position: absolute;
  }

  [topLeft] {
    top: var(--zen-badge-offset-y, calc(var(--zen-badge-offset, 0px) * -1));
    left: var(--zen-badge-offset-x, calc(var(--zen-badge-offset, 0px) * -1));
    transform: translateY(-50%) translateX(-50%);
  }

  [top] {
    top: var(--zen-badge-offset-y, calc(var(--zen-badge-offset, 0px) * -1));
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }

  [topRight] {
    top: var(--zen-badge-offset-y, calc(var(--zen-badge-offset, 0px) * -1));
    right: var(--zen-badge-offset-x, calc(var(--zen-badge-offset, 0px) * -1));
    transform: translateY(-50%) translateX(50%);
  }

  [right] {
    right: var(--zen-badge-offset-x, calc(var(--zen-badge-offset, 0px) * -1));
    top: 50%;
    transform: translateY(-50%) translateX(50%);
  }

  [bottomRight] {
    bottom: var(--zen-badge-offset-y, calc(var(--zen-badge-offset, 0px) * -1));
    right: var(--zen-badge-offset-x, calc(var(--zen-badge-offset, 0px) * -1));
    transform: translateY(50%) translateX(50%);
  }

  [bottom] {
    bottom: var(--zen-badge-offset-y, calc(var(--zen-badge-offset, 0px) * -1));
    left: 50%;
    transform: translateY(50%) translateX(-50%);
  }

  [bottomLeft] {
    bottom: var(--zen-badge-offset-y, calc(var(--zen-badge-offset, 0px) * -1));
    left: var(--zen-badge-offset-x, calc(var(--zen-badge-offset, 0px) * -1));
    transform: translateY(50%) translateX(-50%);
  }

  [left] {
    left: var(--zen-badge-offset-x, calc(var(--zen-badge-offset, 0px) * -1));
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
}
