<button
  class="switch"
  [class.checked]="checked()"
  [disabled]="disabled()"
  (click)="toggle()"
  (keydown.arrowRight)="checked.set(true)"
  (keydown.arrowLeft)="checked.set(false)"
  (keydown.space)="toggle()"
>
  <div class="content left-content" [class.checked]="checked()">
    <ng-content select="[left]" />
  </div>
  <div class="content right-content" [class.checked]="checked()">
    <ng-content select="[right]" />
  </div>
  <div class="thumb" [class.checked]="checked()"></div>
</button>
