// Define SCSS variables for better maintainability
$switch-width: 36px;
$switch-height: 22px;
$slider-size: 16px;
$transition-duration: 0.4s;
$switch-bg-color: grey;
$switch-checked-bg-color: green;
$switch-disabled-bg-color: lightgrey;
$slider-bg-color: white;

// Other
$slider-padding: calc(($switch-height - $slider-size) / 2);
$slider-transform-distance: calc(
  $switch-width - $slider-size - $slider-padding * 2
);

/* Switch container */
.switch {
  position: relative;
  display: inline-block;
  width: $switch-width;
  height: $switch-height;
  background-color: $switch-bg-color;
  border: none;
  border-radius: 99999px; // force perfectly rounded
  cursor: pointer;
  transition: background-color $transition-duration;

  /*
    outline: none;
    &:focus {
      box-shadow: 0 0 3px 2px rgba(21, 156, 228, 0.4);
    }
  */
}

/* Slider */
.slider {
  position: absolute;
  top: $slider-padding;
  left: $slider-padding;
  height: $slider-size;
  width: $slider-size;
  background-color: $slider-bg-color;
  transition: transform $transition-duration;
  border-radius: 50%;
}

/* Styles when the button is checked */
.switch[aria-checked='true'] {
  background-color: $switch-checked-bg-color;

  .slider {
    transform: translateX($slider-transform-distance);
  }
}

/* Styles when the button is disabled */
.switch[aria-disabled='true'] {
  background-color: $switch-disabled-bg-color;
  cursor: not-allowed;
}
