{
  "plugins": [
    "prettier-plugin-organize-attributes"
  ],
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "trailingComma": "es5",
  "bracketSameLine": false,
  "htmlWhitespaceSensitivity": "ignore",
  "printWidth": 120,
  "endOfLine": "auto",
  "attributeGroups": [
    "$ANGULAR_STRUCTURAL_DIRECTIVE",
    "$ANGULAR_INPUT",
    "$ANGULAR_OUTPUT",
    "$ANGULAR_TWO_WAY_BINDING"
  ],
  "attributeSort": "ASC"
}
