<zen-badge>
  <div topLeft>1</div>
  <div topRight>2</div>
  <div bottomLeft>3</div>
  <div bottomRight>4</div>
  <img
    [ngSrc]="'https://picsum.photos/46/46'"
    alt="xd"
    width="46"
    height="46"
  />
</zen-badge>

<br />
<br />

<div class="square" zenBadge>
  <b class="upper-case" topLeft>top-Left</b>
  <b class="upper-case" top>top</b>
  <b class="upper-case" topRight>top-Right</b>
  <b class="upper-case" left>left</b>
  <b class="upper-case" right>right</b>
  <b class="upper-case" bottomLeft>bottom-Left</b>
  <b class="upper-case" bottom>bottom</b>
  <b class="upper-case" bottomRight>bottom-Right</b>
</div>
