$bg-color-hover: #333;
$bg-color: #000;
$color: #fff;
$padding: 8px 24px;
$shadow-hover: 0 0 0 3px rgb(0 123 255 / 50%);
$shadow: 0 2px 4px rgb(0 0 0 / 10%);
$transition-duration: 0.4s;

:host {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border: none;
  padding: $padding;
  border-radius: 99999px;
  transition: all $transition-duration ease;
  background-color: $bg-color;
  color: $color;
  box-shadow: $shadow;
  text-decoration: none;
  outline: none;
  overflow: hidden;
  position: relative;
}

/* Hover state */
:host:hover {
  background-color: $bg-color-hover;
}

/* Focus state */
:host:focus {
  box-shadow: $shadow-hover;
}

/* Disabled state */
:host[aria-disabled='true'] {
  cursor: not-allowed;
  opacity: 0.6;
}
